@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Our First Website</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<center>
    <h5 style="center">One Time</h5>
</center>

<center>
</center>

<html>
    <head>
        <style>
            body{
            
            }
            p{
                color:yellow;
                font-size:200%;
            }
        </style>
    </head>
<body style="background-image: url('https://i.pinimg.com/236x/6a/05/ca/6a05ca896cb0a6ae536130ad4c63a505.jpg');">
    <div class="container card-img">
        <p style="background-image" :url('https: //image.shutterstock.com/image-illustration/abstract-luxury-gradient-blue-background-260nw-1394086385.jpg')>
            बार बार देखा हजार बार देखा   
        </p>
        <p> मगर हर दफा पहली दफा देखा</p>
    </div>
</body>
</html>
